<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <title>Hello, world!</title>
    </head>

    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Hello Annotation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" >

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/table/">Table</a>
                    </li>
                    <li class="nav-item" style="margin-left: 25px">
                      <div class="col d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination mb-0">
                            <li class="page-item">
                              <a style="color: #1a8755" class="page-link" href="#">&laquo;</a>
                            </li>
                            <li class="page-item">
                              <a style="color: #1a8755" class="page-link">    {{ annotations }} ~ {{ annotations|add:19 }}</a>
                            </li>
                            <li class="page-item">
                              <a style="color: #1a8755" class="page-link" href="#">&raquo;</a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </li>

                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>

            </div>


        </nav>

        <table class="table table-hover">
            <tbody>

            {% for data in history_datas %}
            <tr>
              <th scope="row">{{ data.num_tasks_with_annotations }}</th>
              <th scope="row">{{ data.rating }}</th>
              <td scope="row">{{ data.relation }}</td>
              <td><img style="width: 50px" src="{{ data.image_url }}"></td>
              <th scope="row">{{ data.query }}</th>
              <td scope="row">{{ data.IT_NAME }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        


        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        -->
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


</html>